extends layout

block content
    if name === undefined
        form(name="login", action="/auth", method="POST")
            input(type="submit", name="action", value="login")
    else
        h1 Welcome, #{name}
        form(name="logout", action="/auth", method="POST")
            input(type="submit", name="action", value="logout")
    h2 Endpoints
    ul
        li GET users
            form(name="logout", action="/user", method="GET")
                input(type="submit", value="submit")
        li GET redis
            form(name="list-item", action="/redis", method="GET")
                input(type="submit", value="list")
        li POST redis
            form(name="add-item", action="/redis", method="POST")
                input(type="text", name="item")
                input(type="submit", value="add")