extends layout

block content
    if name === undefined
        form(name="login", action="/api/auth", method="POST")
            input(type="submit", name="action", value="login")
    else
        h1 Welcome, #{name}
        form(name="logout", action="/api/auth", method="POST")
            input(type="submit", name="action", value="logout")

    h2 ChipmunkJS
    ul
        li Call BE - get user
            button#bt-user(onclick='getUser()') submit
            pre#pre-user
        li Call BE - get item
            button#bt-item(onclick='getItem()') submit
            pre#pre-item
